@import 'loriss';

.page__aboutpage, .page__boardpage {
    padding-top: 5rem;

    .testimonial {
        .plain-text {
            text-align: left;
            justify-content: flex-start;

            &:nth-child(1) {
                font-size: 2rem;
            }
        }
        .source-text {
            color: $color--complementary;
        }
    }
}

.tab-content {
    @include breakpoint("lg") {
        padding-top: 2rem;
    }
}