@import 'loriss';

.page__aboutpage,
.page__boardpage,
.page__contactpage {
    padding-top: 5rem;

    .testimonial {
        .plain-text {
            text-align: left;
            justify-content: flex-start;

            &:nth-child(1) {
                font-size: 2rem;
            }
        }
        .source-text {
            color: $color--complementary;
        }
    }
}

.page__contactpage .white-space-y {
    padding-bottom: 1rem !important;
}

.contact-sub-text {
    position: relative;
    padding: 3rem 0;

    .text-link {
        position: relative;
        transform: translateY(0);
        margin-top: 1rem;
    }
}

.contact-icons__contact-methods > li {
    opacity: 0;
    transform: translateY(16px);
}

.tab-content {
    @include breakpoint("lg") {
        padding-top: 2rem;
    }
}

.site-map {
    p {
        color: $color--complementary !important;
    }
    li {
        text-transform: uppercase;
    }
}