@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
$font-family-serif: 'Bree Serif', serif !important;

@import '~ministrylib/dist/app.scss';

.page__aboutpage,
.page__boardpage,
.page__contactpage {
    padding-top: 5rem;

    .testimonial {
        .plain-text {
            text-align: left;
            justify-content: flex-start;

            &:nth-child(1) {
                font-size: 2rem;
            }
        }
        .source-text {
            color: $color--complementary;
        }
    }
}

.page__contactpage .white-space-y {
    padding-bottom: 1rem !important;
}

.contact-sub-text {
    position: relative;
    padding: 3rem 0;

    .text-link {
        position: relative;
        transform: translateY(0);
        margin-top: 1rem;
    }
}

.contact-icons__contact-methods > li {
    opacity: 0;
    transform: translateY(16px);
}

.tab-content {
    @include breakpoint("lg") {
        padding-top: 2rem;
    }

    .tab-contents > p {
      white-space: pre-wrap;
    }
}

.site-map {
    p {
        color: $color--complementary !important;
    }
    li {
        text-transform: uppercase;
    }
}

.page__homepage .content {
    z-index: -100;
    overflow: hidden !important;
}

.image {
  padding-top: 0 !important;
  overflow: visible;

  .content-box, .text-container--very-narrow {
    overflow: visible;
  }
  img {
    width: 100%;
    box-shadow: 0 2px 12px 6px rgba(0, 0, 0, .2);
  }
}